<!DOCTYPE html>
<html>
    <head>
        <title>Error 404</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{message}}</h1>
            <p>{{reason}}</p>
        </div>
        
        {{>footer}}
    </body>
</html>